#!/bin/bash

#############################################################################
# Copy this file to the root directory and adjust the values to your needs. #
#############################################################################
# - The network settings are used to separate the virtual networks from
#   one another and to have known IP-addresses for the hosts that can be
#   used in the /etc/hosts file. The subnet addresses must be unique on
#   the host, thus they must be adjusted per project.

# With this variables, the names of all containers, networks and host/domainnames are built. They must be unique on the host machine.

# @TODO: change PROJECT_NAME (letters, numbers, dashes, dots, underscores, no whitespace)
export PROJECT_NAME=%%PROJECT_NAME%%
# @TODO: change PROJECT_NAME_PLAIN (letters and numbers only)
export PROJECT_NAME_PLAIN=%%PROJECT_NAME_PLAIN%%
# @TODO: change PUBLIC_WWW_PORT (HTTP published port for drupal)
export PUBLIC_WWW_PORT=%%PUBLIC_WWW_PORT%%
# @TODO: change PUBLIC_PMA_PORT (HTTP published port for phpmyadmin)
export PUBLIC_PMA_PORT=%%PUBLIC_PMA_PORT%%
# @TODO: Networking: change the 3rd octet of IP-addresses
export SUBNET=%%SUBNET%%
# @TODO: Drupal version (7 or 8, but 7 untested)
export DRUPAL_VERSION=%%DRUPAL_VERSION%%
# @TODO: choose php version (7.0 or 5.6, but 5.6 untested)
export PHP_VERSION=%%PHP_VERSION%%
# @TODO: choose whether xdebug is enabled(1) or not (0)
export PHP_XDEBUG_ENABLED=%%PHP_XDEBUG_ENABLED%%
# @TODO: choose XDEBUG remote host
export PHP_XDEBUG_REMOTE_HOST=%%PHP_XDEBUG_REMOTE_HOST%%
# @TODO: choose XDEBUG remote port
export PHP_XDEBUG_REMOTE_PORT=%%PHP_XDEBUG_REMOTE_PORT%%
# @TODO: Images for services used on demand
export NODE_VERSION=%%NODE_VERSION%%
# @TODO: Node port for Browser-Sync (to use with Gulp-Drupal-Stack and PatternLab)
export NODE_BROWSERSYNC_PORT=%%NODE_BROWSERSYNC_PORT%%
# @TODO: (expert) change Docker images versions
export PHP_IMAGE_VERSION=${PHP_VERSION}-3.0.0
export WWW_IMAGE_VERSION=1.13-3.0.0
export DB_IMAGE_VERSION=10.1-3.0.0
